geopandas
shapely
fiona
pyproj
rtree
rasterio
rioxarray
xarray
numpy
pandas

matplotlib
contextily
folium
mapclassify
geoplot
plotly
seaborn

ipyleaflet
lonboard
keplergl

earthpy
rasterstats
opencv-python
sentinelsat

psycopg2-binary
geoalchemy2

geopy

pyvista
laspy
open3d

pysal
esda
access
tobler
spreg

pmtiles
vt2geojson

descartes
tqdm
requests

jupyter
jupyterlab
ipykernel

streamlit
geemap
earthengine-api
matplotlib
numpy
requests

Pillow
streamlit
earthengine-api
geemap
plotly
